*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: acumin-pro, system-ui, sans-serif;  
}
/* footer part with line we get from ::before */
/* body{
    border: 1px solid red;
} */
footer{
    position: fixed;
    background-color:#140B5C;
    width: 100%;
    bottom: 0px;
    left: 0;
}

footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }

  /* its is content div */

  .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 30px 40px;
}

/* top part */
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
/* top-left side : logo part  */
.logo-details{
    color: white;
    font-size: 30px;
}
.logo_name{
    font-size: 28px;
    font-weight: 300;
}
/*  top-right side :media-icons */
.media-icons{
display: flex;
}

.media-icons a{
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    /* background-color: red; */
    margin-left: 5px;
    transition: all 0.4s ease;

}
 .media-icons a:nth-child(1){
    background: #4267B2;

}

.media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }

  .media-icons a:nth-child(2){
    background: #1DA1F2;
  }

  .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }

  .media-icons a:nth-child(3){
    background: #E1306C;

  }
  .media-icons a:nth-child(3):hover{
    color:#E1306C ;
    background: #fff;
  }

   .media-icons a:nth-child(4){
    background: #0077B5;
  }
   .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .media-icons a:nth-child(5){
    background: #FF0000;
  }
   .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }

  .link-boxes{
    width: 100%;
    display: flex;
    justify-content:space-between;
    
  }

  .box{
    /* background: red; */
    width: calc(100%/5 - 10px);
}

.link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 10px;
    position: relative;
    
}

.link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }

  .box li{
    margin: 6px 0;
    list-style: none;
  }

   .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
 .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .box .input-box{
    margin-right: 55px;
  }

   .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }

   .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .input-box input[type="button"]:hover{
    opacity: 1;
  }

  .bottom-details{
    width: 100%;
    background: #0F0844;
  }

  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .policy_terms a{
   margin-right: 1px;
  }

  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }