*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
   
    /* background: #f5f5f5; */
}
/* 1.header section */
header{
    background: #636e79;
    height: 720px;
}
nav{
    width: 87%;
    margin: auto;
}

.navBox{
    border: 1px solid red;
    padding:2.5em 0em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo{
    object-fit: contain;
    height: 2.5em;
}
/* Navigation items */
.list{
    border: 1px solid red;
    display: flex;
    align-items: center;
    margin: 0em 1em;
}
.nav-items{
    list-style: none;
     color: white;
     display: flex;
     justify-content: space-between;
}


.nav-items li{
    margin:0 1.7em;
}
.nav-item{
    font-size: 1.2em;
    font-weight: 300;
}

.nav-btn{
    border:1.5px solid grey;
    background: transparent;
    color: white;
    padding: 0.6em 2.5em;
    font-size: 1.1em;
}

.nav-menu-icons{
    display:none;
    color: #f5f5f5;;
   
}

/*  Header information */

.header-info{
    border: 1px solid red;
    width: 80%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
   
}
.header-info-left{
    border: 2px solid green;
    width: 44%;
   

}
.header-image{
    object-fit: cover;
    width: 100%;
    height: 60vh;
     
}

.header-info-right{
   border: 3px solid green;
   width: 56%;
   margin: 3em 5em;

}
.header-info-right h1{
    color: white;
    font-size: 6.9vmin;
    font-weight: 500;
    line-height: 1.1em;
    width: 95%;
   
    
}

.header-info-right h3{
    width: 92%;
    color: rgb(177, 172, 172);
    font-size: 2.1vmin;
    font-weight: 200;
    line-height: 1.5em;
    margin: 1.4em 0 ;

}

.email{
    padding: 0 0.5em;
    border:none;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    background: white;
}
.email-left{
    border: 1px solid red;
    width: 65%;
}
.email img{
    margin-top: 1px;
    margin-right: 8px;

}

.email input{
    border: none;

}

.email input::placeholder{
    color: grey;
    width: 100%;
    font-size: 1.1em;
}

.email button{
    border: none;
    background: green;
    color: white;
    padding: 0.8em 3.2em;
    opacity: 0.4;
    font-size: 0.9em;
 
}
/* 2nd part -bussiness with your target section*/

.team{
   border: 1px solid red;
    width: 84%;
    margin:4em auto;
    font-family: 'Roboto', sans-serif;

}

.team h1{
    border: 1px solid green;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 5vmin;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.teamTitle{
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5em;
    font-family: 'Roboto', sans-serif;
}
.teamDetail{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.teamDetail h3{
    margin-top: 0.8em;
    font-size: 1em;
    font-weight: 500;
    color: #3c3f41;
}

.teamImage{
    margin: 3em 0;
    background-image: url('images/pexels-fauxels-3184325.jpg');
    background-size: cover;
    height: 490px;
    background-position:30% 5%;
}

/* 3.cards section */
.cardSection{
    border: 3px solid red;
    width: 85%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.cardsBox{
    border: 3px solid red;
    margin: 3em;
}

.cardsTitle{
    border: 1px solid blue;
    text-align: center;
    width: 40%;
    margin: auto;
   
}
.cardsTitle h1{
    font-size: 4.5vmin;
    font-weight: 400;
   
}

.cardsCardBoxs{
    border: 3px solid gold;
}
.cardsCardBox{
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.6em 0;
}
.cardsCardBoxLeft{
    width: 50%;
    border: 1px solid hotpink;
    padding: 0 2em;
}

.cardsCardBoxRight{
    width: 50%;
    border: 1px solid olive;
    display: flex;
    justify-content: center;
}
.cardsCardBoxLeft h2{
    font-size: 1.9em;
    font-weight: 500;
    width: 77%;

}
.cardsCardBoxLeft p{
    width: 90%;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.6em;
    color: grey;
    margin: 1em 0;
}

/* .cardsCardBoxRight img{
    width: 100%;
} */

.girlpic{
    width: 70%;
}

.boypic{
    width: 72%;
}
.manpic{
    width: 82%;
}

.common-btn{
    color: white;
    background: green;
    border: none;
    padding: 0.7em 2.5em;
    opacity: 0.6;
    margin-top: 1em;
   font-size: 1em;
}

/* 4.section Creative Teams  */

.creativeTeams{
    border: 4px solid red;
    width: 85%;
    margin: 5em auto;
    font-family: 'Roboto', sans-serif;
}

.creativeTeamTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.creativeTeamTitleLeft{
    border: 2px solid blue;
    width: 50%;
    
}
.creativeTeamTitleRight{
    border: 3px solid green;
    width: 50%;
    display: flex;
    justify-content: center;
}
.creativeTeamTitleLeft h2{
    font-size: 1.8em;
    font-weight: 500;
    width: 50%;
    word-spacing: 0.1em;
    line-height: 1.3em;
}

.creativeTeamTitleRight p{
    font-size: 1.1em;
    font-weight: 100;
    color: gray;
    line-height: 1.4em;
    width: 80%;
}

/* 4.2-content */
.teamLeaderBox{
    border: 5px solid green;
    display: flex;
    justify-content:space-between;
    margin: 2em 0;
}
.leaderInformationImage1{
    background-image: url('images/pexels-mikhail-nilov-8937870.jpg');
    width: 330px;
    height: 350px;
    background-size: cover;
  
}

.leaderInformationImage2{
    background-image: url('images/pexels-precious-judah-9154594.jpg');
    width: 330px;
    height: 350px;
    background-size: cover;
    background-position: 10% 36%;
  
}

.leaderInformationImage3{
    background-image: url('images/pexels-christina-morillo-1181424.jpg');
    width: 330px;
    height: 350px;
    background-size: cover;
    background-position: 10% 36%;
  
}



.leaderInformation h3{
    font-size: 2.7vmin;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0.6em 0;

}
.leaderInformation p{
    width: 87%;
    font-size: 2vmin;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: gray;
    line-height: 1.5em;

}

.creativeTeamButton{
    display: flex;
    justify-content: center;
}

/* 5.footer section */

footer{
    background-color: rgb(35, 35, 40);

}

.footerBox{
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 3em 0 0;
}
.footerLogo img{
    object-fit: contain;
    height: 2.4em;
}

.media-icons{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    width: 24%;
}

.media-icons a{
    content: "";
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
   
}

.media-icons a img{
    object-fit: contain;
    height: 1.3em;
}

.media-icons a:nth-child(1){
    background: white;
    padding: 0.6em;

}

 .media-icons a:nth-child(1):hover{
    background: #4267B2;
    
}

.media-icons a:nth-child(2){
    background: white;
    padding: 0.6em;

}
.media-icons a:nth-child(2):hover{
    background: #1da1f2;
    
}
.media-icons a:nth-child(3){
    background: white;
    padding: 0.6em;

}
.media-icons a:nth-child(3):hover{
    background: rgb(157, 35, 56);
    
}
.media-icons a:nth-child(4){
    background: white;;
    padding: 0.5em;

}

.media-icons a:nth-child(4):hover{
    background:#4267B2;
    
}

.line{
    border: 0.7px solid grey;
    width: 85%;
    margin:2.1em  auto;

   
}

.link-boxes{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin:auto;
    padding-bottom: 2em;
    
}

.link_name{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2vmin;
    font-weight: 600; 
}


.box li {
    margin: 1.4em 0;
    list-style: none;
}

.box li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vmin;
    font-weight: 400;
    opacity: 0.8;
    transition: all 0.4s ease;

}

.box li a:hover{
    opacity: 1;
    text-decoration: underline;

}


/* media query */

@media (min-width:1025px) and (max-width:1200px){
    
nav{
    width: 90%;
    margin: auto;
}
.logo{
    height: 2.3em;
}
.nav-items li{
    margin:0 1.2em;
}
.nav-item{
    font-size: 1.2em;
}

.nav-btn{
    padding: 0.6em 2em;
    font-size: 1.1em;
}


 /*  Header information */

.header-info{
    border: 1px solid red;
    width: 85%;
    margin: 4em auto;
   
}

.header-image{
    height: 57vh;
     
}

.header-info-right{
   border: 3px solid green;
   width: 56%;
   margin: 3em 3.6em;

}
.header-info-right h1{
    font-size: 6.3vmin;
  
}

.header-info-right h3{
    width: 94%;
    font-size: 2vmin;
    margin: 1.6em 0 ;

}

.email{
    padding: 0 0.5em;
    border:none;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    background: white;
}
.email-left{
    border: 1px solid red;
    width: 65%;
}
.email img{
    margin-top: 1px;
    margin-right: 8px;

}

.email input{
    border: none;

}
.email-left img{
    width: 7%;
}

.email input::placeholder{
    color: grey;
    width: 100%;
    font-size: 1.1em;
}


.email button{
    padding: 1.4em 3em;
    opacity: 0.4;
    font-size: 0.7em;
 
}
/* 2.section bussiness with your target  */

.team h1{
    border: 1px solid green;
    width: 60%;
    margin: auto;
}

/* 3.cards section */

.cardSection{
    width: 86%;
}

.cardsTitle{
    width: 45%;
}


.cardsTitle h1{
    font-size: 4.5vmin;
}


.cardsCardBoxLeft h2{
    font-size: 1.7em;
    width: 100%;

}

.girlpic{
    width: 85%;
}

.boypic{
    width: 80%;
}
.manpic{
    width: 90%;
}

/* 4.section Creative Teams  */

.creativeTeams{
    width: 86%;
}
.creativeTeamTitleRight p{
    font-size: 1.1em;
    width: 85%;
}

/* 4.2-content */

.leaderInformationImage1{
    background-image: url('images/pexels-mikhail-nilov-8937870.jpg');
    width: 270px;
    height: 300px;
    background-size: cover;
  
}

.leaderInformationImage2{
    background-image: url('images/pexels-precious-judah-9154594.jpg');
    width: 270px;
    height: 300px;
    background-size: cover;
    background-position: 10% 36%;
  
}

.leaderInformationImage3{
    background-image: url('images/pexels-christina-morillo-1181424.jpg');
    width: 270px;
    height: 300px;
    background-size: cover;
    background-position: 10% 36%;
  
}



.leaderInformation h3{
    font-size: 2.6vmin;

}
.leaderInformation p{
    width: 87%;
    font-size: 1.9vmin;
  

}



}


@media (min-width:769px) and (max-width:1024px){

.nav-items{
    display: none;

}
.nav-btn{
    display: none;
}
.nav-menu-icons{
    display: block;
    font-size: 1.2em;
    
}

 /*  Header information */

.header-info{
    border: 1px solid red;
    width: 88%;
    margin: 0.5em auto;
   
}

.header-info-left{
    width: 50%;
}

.header-image{
    height: 60vh;
     
}

.header-info-right{
   border: 3px solid green;
   width: 50%;
   margin: 2.5em 3em;

}
.header-info-right h1{
    font-size: 5.7vmin;
    width: 100%;
  
}

.header-info-right h3{
    width: 100%;
    font-size: 1.8vmin;
    margin: 1.3em 0 ;

}

.email{
    height: 13%;
    width: 96%;
}

.email-left{
    width: 80%;
}

.email img{
    margin-top: 7px;
    margin-right: 1px;

}

.email input{
    border: none;
    font-size: 0.8em;

}
.email-left img{
    width: 7%;
}


.email button{
    padding: 0.5em 2.8em;
    opacity: 0.4;
    font-size: 0.7em;
 
}

/* 2.section bussiness with your target  */

.team h1{
    border: 1px solid green;
    font-size: 4.6vmin;
    width: 75%;
    margin: auto;
}

/* 3.cards section */
.cardSection{
    border: 3px solid red;
    width: 85%;
}
.cardsBox{
    border: 3px solid red;
    margin: 1em;
}

.cardsTitle{
    width: 60%;
   
}
.cardsTitle h1{
    font-size: 4.5vmin;
   
}

.cardsCardBoxLeft h2{
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;

}
.cardsCardBoxLeft p{
    width: 90%;
    font-size: 1em;
    
}



.girlpic{
    width: 80%;
}

.boypic{
    width: 80%;
}
.manpic{
    width: 86%;
}

.common-btn{
    padding: 0.4em 2em;
}

/* 4.section Creative Teams  */


.creativeTeams{
    width: 86%;
}
.creativeTeamTitleLeft h2{
    width: 90%;
}
.creativeTeamTitleRight p{
    font-size: 1.1em;
    width: 100%;
}

/* 4.2-content */

.leaderInformationImage1{
    width: 200px;
    height: 300px;
}

.leaderInformationImage2{
    width: 200px;
    height: 300px;
}

.leaderInformationImage3{
    width: 200px;
    height: 300px;
}



.leaderInformation h3{
    font-size: 2.6vmin;

}
.leaderInformation p{
    width: 90%;
    font-size: 1.8vmin;
  

}




/* 5.section footer */

.footerLogo img{
    height: 2.2em;
}

.media-icons{
    width: 32%;
}

.media-icons a{
    width: 40px;
    height: 40px; 
}

.media-icons a img{
    object-fit: contain;
    height: 1.2em;
}



}

@media (min-width:481px) and (max-width:768px){

 header{
    height: 785px;
 }

.header-info{
    border: 1px solid red;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
       
}

.nav-items{
    display: none;

 }

.nav-btn{
    display: none;
 }

 .logo{
    height: 5.6vmin;
}

.nav-menu-icons{
    display: block;
    font-size: 1.1em;
}

/*  Header information */

.header-info{
    border: 1px solid red;
    width: 87%;
    margin:auto;
   
}

.header-info-left{
    width: 100%;
}

.header-image{
    height: 40vh;
     
}


.header-info-right{
   border: 3px solid green;
   width: 100%;
   margin: 1.4em 0em;

}
.header-info-right h1{
    font-size: 6vmin;
    width: 90%;
  
}

.header-info-right h3{
    width: 90%;
    font-size: 2.5vmin;
    margin: 1.3em 0 ;

}

.email{
    height: 13%;
    width: 82%;
    padding: 0.3em;
}

.email-left{
    width: 55%;
    display: flex;
    align-items: center;
}

.email img{
    /* margin-top: 7px; */
    margin-right: 5px;

}

.email input{
    border: none;
    font-size: 0.9em;

}
.email-left img{
    width: 7%;
}


.email button{
    padding: 0.5em 2.9em;
    font-size: 0.9em;
 
}

/* 2.section bussiness with your target  */

.team{
    border: 1px solid red;
     width: 89%;
 }

.team h1{
    border: 1px solid green;
    font-size: 4.6vmin;
    width: 75%;
    margin: auto;
}

.teamDetail h2{
    margin-top: 0.8em;
    font-size: 1.2em;
    
}

.teamDetail h3{
    margin-top: 0.8em;
    font-size: 1em;
}

/* 3.cards section */
.cardSection{
    width: 94%;
}
.cardsBox{
    margin: 0em;
}

.cardsTitle{
    width: 54%;
   
}
.cardsTitle h1{
    font-size: 4.5vmin;
}

.cardsCardBoxLeft h2{
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;

}
.cardsCardBoxLeft p{
    width: 100%;
    font-size: 0.9em;
}

.girlpic{
    width: 100%;
}

.boypic{
    width: 100%;
}
.manpic{
    width: 100%;
}

.common-btn{
   font-size: 0.9em;
}

/* 4.section Creative Teams  */

.creativeTeams{
    border: 4px solid red;
    width: 94%;
}


.creativeTeamTitle{
    display: block;
 }
 .creativeTeamTitleLeft{
     width: 100%;
 }
 .creativeTeamTitleRight{
     width: 100%;
 }
 
 .creativeTeamTitleLeft h2{
     font-size: 1.5em;
     width: 100%;
     font-weight: 600;
     text-align: center;

    
 }

 .creativeTeamTitleRight p{
    font-size: 1em;
    width: 100%;
    text-align: center;
}

/* 4.2-content */
.teamLeaderBox{
    flex-wrap: wrap;
}

.leaderInformation{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-left: 2em;
     margin-bottom: 1.5em;
    
}

.leaderInformationImage1{
    width: 400px;
    height: 350px;
  
}

.leaderInformationImage2{
    width: 400px;
    height: 400px;

  
}

.leaderInformationImage3{
    width: 400px;
    height: 390px;
  
}



.leaderInformation h3{
    font-size: 3vmin;
}

.leaderInformation p{
    width: 84%;
    font-size: 2.2vmin;
    text-align: center;
}




/* 5.section footer */
.footerBox{
    width: 89%;
}

.link-boxes{
    width: 89%;
    margin:auto;  
}
.line{
    width: 89%;
}

.link_name{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vmin;
    font-weight: 700; 
}


.box li {
    margin: 1.2em 0;
}

.box li a{
    font-size: 2vmin;
   

}

.footerLogo img{
    height: 1.9em;
}

.media-icons{
    width: 42%;
}

.media-icons a{
    width: 38px;
    height: 38px; 
}

.media-icons a img{
    object-fit: contain;
    height: 1.2em;
}


}

@media (min-width:320px) and (max-width:481px){

header{
    height: 650px;
}

.nav-items{
        display: none;

 }

.nav-btn{
    display: none;
}
.logo{
    height: 7.4vmin;
}

.nav-menu-icons{
    display: block;
    font-size:0.9em;
}

.header-info{
    border: 1px solid red;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
        
}

 /*  Header information */

.header-info{
    border: 1px solid red;
    width: 87%;
    margin: 0em auto 2em;
   
}

.header-info-left{
    width: 100%;
}

.header-image{
    height: 30vh;
     
}


.header-info-right{
   border: 3px solid green;
   width: 100%;
   margin: 1.8em 0em;

}
.header-info-right h1{
    font-size: 7.5vmin;
    width: 100%;
  
}

.header-info-right h3{
    width: 100%;
    font-size: 3vmin;
    margin: 1.5em 0 ;

}

.email{
    height: 12%;
    width: 85%;
    padding: 0.1em;
}

.email-left{
    width: 55%;
    display: flex;
    align-items: center;
}

.email img{
    /* margin-top: 7px; */
    margin-right: 5px;

}

.email input{
    border: none;
    font-size: 0.8em;

}
.email-left img{
    width: 7%;
}


.email button{
    padding: 0.5em 2.7em;
    font-size: 0.8em;
 
}

/* 2.section bussiness with your target  */

.team{
    border: 1px solid red;
     width: 83%;
 }

.team h1{
    border: 1px solid green;
    font-size: 4.6vmin;
    width: 75%;
    margin: auto;
    margin-bottom: -1em;
}

.teamDetail h2{
    margin-top: 0.8em;
    font-size: 1em;
    
}

.teamDetail h3{
    margin-top: 0.8em;
    font-size: 0.9em;
}

.teamImage{
    margin: 1em 0;
    background-image: url('images/pexels-fauxels-3184325.jpg');
    background-size: cover;
    background-position:left top;
    height: 330px;
}

/* 3.cards section */
.cardSection{
    width: 93%;
}
.cardsBox{
    margin: 0em;
}

.cardsTitle{
    width: 54%;
}

.cardsTitle h1{
    font-size: 4.5vmin;
    font-weight: 600;
}


.cardsCardBox{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
   
}
.cardsCardBoxLeft{
    width: 100%;
    border: 1px solid hotpink;
    margin-bottom: 1.5em;
   
}

.cardsCardBoxRight{
    width: 100%;
    padding: 0;
}
.cardsCardBoxLeft h2{
    font-size: 1.2em;
    width: 100%;

}
.cardsCardBoxLeft p{
    width: 100%;
    font-size: 1em;
}


.girlpic{
    width: 90%;
}

.boypic{
    width: 90%;
}
.manpic{
    width: 90%;
}

.common-btn{
    padding: 0.4em 2em;
}

/* 4.section Creative Teams  */

.creativeTeams{
    border: 4px solid red;
    width: 94%;
}

.creativeTeamTitle{
   display: block;
}
.creativeTeamTitleLeft{
    width: 100%;
}
.creativeTeamTitleRight{
    width: 100%;
}

.creativeTeamTitleLeft h2{
    font-size: 1.3em;
    width: 100%;
    font-weight: 600;
    text-align: center;
   
}

.creativeTeamTitleRight p{
    font-size: 1em;
    width: 100%;
    text-align: center;
}

/* 4.2-content */
.teamLeaderBox{
    flex-wrap: wrap;
}

.leaderInformation{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-bottom: 1.5em;
     margin-left: 1em;
    
}

.leaderInformationImage1{
    width: 265px;
    height: 300px;
  
}

.leaderInformationImage2{
    width: 265px;
    height: 300px;

  
}

.leaderInformationImage3{
    width: 265px;
    height: 300px;
  
}



.leaderInformation h3{
    font-size: 4.4vmin;
}

.leaderInformation p{
    width: 84%;
    font-size: 3vmin;
    text-align: center;
}


/* 5.section footer */
.footerBox{
    width: 95%;
}

.link-boxes{
    width: 95%;
    margin:auto;  
   flex-direction: column;
   text-align: center;
}
.line{
    width: 95%;
}

/* .box{
  box-shadow: cyan;
} */

.link_name{
    font-size: 6vmin;
    
}


.box li {
    margin: 1em 0;
}

.box li a{
    font-size: 3.4vmin;
   

}

.footerLogo img{
    height: 1.7em;
}

.media-icons{
    width: 50%;
}

.media-icons a{
    width: 30px;
    height: 30px; 
}

.media-icons a img{
    object-fit: contain;
    height: 1em;
    margin-bottom: 0.9em;
    
}

.media-icons a:nth-child(1){
    padding: 0.5em;

}
.media-icons a:nth-child(2){
    padding: 0.4em;

}

.media-icons a:nth-child(3){
    padding: 0.5em;

}

.media-icons a:nth-child(4){
    background: white;
    padding: 0.37em;

}






}



