*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  width: 85%;
  margin: auto;
  margin-top: 1px;
}

a{
  
  color: white;
  background: gray;
  /* display: block; */
  font-family: lato;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  transition: all 0.4s;
  /* border: 1px solid red; */
 

}

a:hover{
  background:orange;
  opacity: 0.8;
  border-radius: 4px;
}

ul{
 
  background: gray;
  list-style: none;
  display: flex;
  /* justify-content: center; */

}

 li {
  width: 90%;
  text-align: center;
  position: relative;
}

li:hover .submenu>li{
  display: block;
  top: 0;
  width: 100%;
}

.submenu{
  display: flex;
  flex-direction: column;
  width:100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
 


}
/* left: 55px; */

.submenu li{
  display:none;
  
  
}




